.mob-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    top: 0;
    z-index: 1;
    padding-top: 48px;
    padding-left: 40px;

    @include tablet {
        display: none;
    }

    @include desktop {
        display: none;
    }

}

// ------------------Кнопка закриття модального вікна------------------
.menu {
    &-container {
        position: absolute;
        background: transparent;
        width: 40px;
        height: 40px;
        right: 0;
        top: 5px;

    }

    &__logo {
        position: absolute;
        width: 11px;
        height: 11px;
        border-color: white;
        fill: #000000;
        right: 0;
        top: 10px;
    }

    &__close {
        position: absolute;

        width: 30px;
        height: 30px;
        background-color: transparent;
        border-radius: 50%;
        right: 15px;
        top: 15px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover .menu__logo {
            fill: #2196F3;
            cursor: pointer;
        }
    }
}


.icon-logo {
    position: absolute;
    height: 40px;
    right: 0;
    top: 5px;

}



.mob__list {
    color: #212121;
    font-size: 40px;
    line-height: 1.17;
    // margin-bottom: 300px;

    .link {

        color: #212121;

        &:hover {
            color: #2196F3;
        }
    }

    .current {
        color: #2196F3;
    }
}

.mob__item {
    margin-bottom: 35px;
}


.mob__contacts {
    bottom: 35px;
    position: absolute;
    margin-bottom: 64px;
}

.contacts-item {
    margin-bottom: 32px;
}

.mob__tel {
    color: #2196F3;
    font-size: 34px;
    line-height: 1.18;

}

.mob__mail {
    color: #757575;
    font-size: 24px;
    line-height: 1.17;
}

.mob_socials {
    position: absolute;
    bottom: 48px;
}

.mob_socials-list {
    display: flex;
    gap: 10px;
    color: #2196F3;
}

.thin {
    width: 1px;
    height: 22px;
    fill: rgba(33, 33, 33, 0.2);

}

.mob_socials-item {
    color: #2196F3;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;

    &:nth-last-child(1) {
        border-right: none;
    }

}

.social-link {

    color: #2196F3;
}