/* -----------------------Секція основного банеру----------------------- */
.hero {
    &__section {
        background-color: #2F303A;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        max-height: auto;
        margin-left: auto;
        margin-right: auto;
        background-image: var(--bg-hero-color),
            url(../images/mob/hero-bg-mob.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: rgba(196, 196, 196, 1);
        @include section;

        @include mobile {
            width: 480px;

        }

        @include tablet {
            width: 768px;
            background-image: var(--bg-hero-color),
                url(../images/tablet/header-img-tablet.jpg);
        }

        @include desktop {
            padding-top: 200px;
            width: 1600px;
            height: 600px;
            background-image: var(--bg-hero-color),
                url(../images/imgherooverlay.jpg);
        }
    }

    &__container {
        @include container;

        @include desktop {

            height: 600px;
        }
    }

    &__title {
        display: inline-block;
        height: auto;
        padding-bottom: 30px;
        font-size: 26px;
        line-height: 42px;
        line-height: 1.62;
        text-transform: uppercase;
        color: #FFFFFF;
        letter-spacing: 6%;

        @include mobile {
            width: 360px;


        }

        @include tablet {
            width: 360px;

            font-size: 26px;
            line-height: 42px;
            line-height: 1.62;
        }

        @include desktop {
            width: 696px;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;

        }
    }

}

/* -----------------------Стилізаця Кнопки----------------------- */

.button {
    &__design {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background-color: #2196F3;
        padding: 10px 24px;
        min-width: 152px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 6%;

        @include mobile {}

        @include tablet {}

        @include desktop {
            padding: 10px 32px;
        }
    }

}